body {
            position: relative;
        }
        nav {
            color: black;
            transition: all .3s;
            font-size: 15px;
            font-weight: bold;
        }
        nav a{
            transition: all .2s;
            color: black;
        }
        nav .shrink {
            color: #0707c7;
        }
        nav a:hover,
        nav .nav-item a:hover {
            background-color: transparent;
            color: #0707c7;
        }
        nav.navbar.shrink {
            background-color: white;
        }
        .navbar-brand {
            font-size: 25px;
        }
        .navbar-brand .shrink{
            color: #0707c7;
        }
        
        header {
            min-height: 650px;
            background: url("../img/header.jpg");
            background-position: center center;
            background-size: cover;
            padding-top: 20rem;
            color: white;            
        }
        header h1 {
            font-size: 40px;
        }
        hr {
            max-width: 50px; 
            border-color: #a9bbe2;
        }
        header p {
            margin: auto;
            margin-bottom: 20px;
            font-size: 20px;
            color: rgba(255, 255, 255, .7);
        }
        .btn-xl {
            padding: 1rem 2rem;
        }
        .btn-primary {
            background-color: #0707c7;
        }
        .btn {
            font-weight: 700;
            border-radius: 300px;
        }
        .about {
            padding-top: 15rem;
        }
        .about p {
            font-size: 20px;
        }
        .contact {
            padding-top: 6rem;
        }
        .contact p {
            font-size: 22px;
        }
        i {
            font-size: 40px;
        }
        .skills {
            padding-top: 4rem;
        }
        #skills h3 {
            text-align: center;
        }
        .html-logo {
            background-image: url(../img/skill_Image.png);
            margin-left: 45px;
            width: 70px;
            height: 80px;
            text-indent: -10000px;
        }
        .CSS-logo {
            background-image: url(../img/skill_Image.png);
            margin-left: 45px;
            width: 70px;
            height: 80px;
            background-position: 140px 0px;
            text-indent: -10000px;
        }
        .JS-logo {
            background-image: url(../img/skill_Image.png);
            margin-left: 45px;
            width: 70px;
            height: 80px;
            background-position: 70px 0px;
            text-indent: -10000px;
        }
        .Jquery-logo {
            background-image: url(../img/skill_Image.png);
            margin-left: 45px;
            width: 70px;
            height: 80px;
            background-position: 0px 160px;
            text-indent: -10000px;
        }
        .Java-logo {
            background-image: url(../img/skill_Image.png);
            margin-left: 45px;
            width: 70px;
            height: 80px;
            background-position: 0px 80px;
            text-indent: -10000px;
        }
        .Matlab-logo {
            background-image: url(../img/skill_Image.png);
            margin-left: 45px;
            width: 70px;
            height: 80px;
            background-position: 70px 80px;
            text-indent: -10000px;
        }
        .JSP-logo {
            background-image: url(../img/skill_Image.png);
            margin-left: 45px;
            width: 70px;
            height: 80px;
            background-position: 70px 160px;
            text-indent: -10000px;
        }
        .Ajax-logo {
            background-image: url(../img/skill_Image.png);
            margin-left: 45px;
            width: 70px;
            height: 80px;
            background-position: 140px 160px;
            text-indent: -10000px;
        }
        .mySql-logo {
            background-image: url(../img/skill_Image.png);
            margin-left: 45px;
            width: 70px;
            height: 80px;
            background-position: 140px 80px;
            text-indent: -10000px;
        }
        .carousel-inner > .item > img {
            min-width: 100%;
        }
        .modal p {
            font-size: 15px;
        }
        #portfolio img {
            cursor: pointer;
        }
        .portfolio {
            height: 300px;
        }